<mat-toolbar color="primary" class="mat-elevation-z4">
    <div class="brand">
        <img src="assets/icons/hiking.png" alt="Hiking Icon" class="brand-icon">
        <div class="brand-text">
            <span class="brand-title">Randinou <span class="brand-highlight">Adventures</span></span>
            <span class="brand-subtitle">Préparer et partager ses randos</span>
        </div>

    </div>
    <span class="spacer"></span>
    <button mat-button class="toolbar-button">Tracer un circuit</button>
    <button mat-button class="toolbar-button">Randonnées</button>
    <button mat-button class="toolbar-button">Aide</button>
    <button mat-button class="toolbar-button">Club Visorando</button>
    <a mat-button class="toolbar-button" [routerLink]="['/register']">Inscription</a>
    <a mat-button class="toolbar-button" [routerLink]="['/login']">Connexion</a>
</mat-toolbar>
