

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;   background-color: var(--thirdly-color);
  color: #e69b9b;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.brand {
  display: flex;
  align-items: center;
}

.brand-icon {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.brand-text {
  display: flex;
  flex-direction: column;
}

.brand-title {
  font-weight: 700;
  font-size: 1em;
  color: #FFFFFF;
}

.brand-highlight {
  color: var(--secondary-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.brand-subtitle {
  font-size: 0.7em;
  color: var(--button-color);
}

.spacer {
  flex: 1;
}

.toolbar-button {
  color: #F5F5F5 !important;
  background-color: var(--secondary-color) !important;
  font-size: 0.9em;
  font-weight: 600;
  padding: 25px 15px;
  border-radius: 8px;
  margin: 0 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.toolbar-button:hover {
  background-color: var(--secondary-color);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.user-menu,
.admin-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #6B8E23;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px 0;
  min-width: 100%;
}

.user-menu.open .dropdown-menu,
.admin-menu.open .dropdown-menu {
  display: block;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.9em;
}

.dropdown-menu li:hover {
  background-color: var(--secondary-color);
  color: #FFFFFF;
}

.spacer {
  flex: 1;
}

.user-menu,
.admin-menu { /* Applique les mêmes styles aux deux menus */
  position: relative;
  display: inline-block;
}

/* Style commun pour tous les menus déroulants */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color:#6B8E23;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px 0;
}

/* Affichage du menu utilisateur lorsqu'il est ouvert */
.user-menu.open .dropdown-menu {
  display: block;
}

/* Affichage du menu admin lorsqu'il est ouvert */
.admin-menu .dropdown-menu {
  display: block;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  color: #FFFFFF;
  font-weight: 600;
}

.dropdown-menu li:hover {
  background-color: var(--secondary-color);
  color: #FFFFFF;
}

.arrow-up {
  display: inline-block;
  margin-left: 5px;
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.arrow-down {
  display: inline-block;
  margin-left: 5px;
  transition: transform 0.2s;
}


.burger-menu {
  display: none; /* Caché par défaut */
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: var(--thirdly-color);
  position: absolute;
  top: 60px; /* Ajustez cette valeur pour que le menu apparaisse juste en dessous de l'icône burger */
  right: 0;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .toolbar-buttons {
    display: none; /* Masquer les boutons de la barre d'outils sur les petits écrans */
  }

  .burger-menu {
    display: block; /* Afficher le menu burger sur les petits écrans */
  }

  .mobile-menu {
    display: flex; /* Afficher le menu mobile sur les petits écrans */
  }
}
