<div class="container">
    <div class="content">
        <!-- Section de présentation -->
        <div class="intro-section mat-elevation-z2">
            <div class="intro-content">
              <h2>Bienvenue sur Randinou Adventures!</h2>
              <p>Découvrez les plus belles randonnées, réservez vos itinéraires préférés, et partagez vos aventures avec une communauté de passionnés.</p>
              <button mat-raised-button color="primary" (click)="navigateToRegister()">Rejoignez-nous</button>
            </div>
        </div>
  
      <!-- Section des derniers itinéraires -->
      <div class="recent-hikes-section">
        <h2>Derniers itinéraires</h2>
        <div class="randos-list">
          <div *ngFor="let rando of randos" class="rando-item mat-elevation-z2">
            <div class="rando-header">
              <img class="rando-image" [src]="'http://localhost:8000' + rando.image" alt="{{ rando.title }}">
              <div class="rando-details">
                <h3>{{ rando.title }}</h3>
                <p><strong>Lieu:</strong> {{ rando.location }}</p>
                <p><strong>Distance:</strong> {{ rando.distance }} km</p>
                <p><strong>Durée:</strong> {{ rando.duration }}</p>
                <p><strong>Difficulté:</strong> {{ rando.difficulty }}</p>
              </div>
            </div>
            <p class="rando-description">{{ rando.description }}</p>
          </div>
        </div>
      </div>
  
      <!-- Section de réservation -->
      <div class="reservation-section mat-elevation-z2">
        <h2>Réservez votre prochaine aventure</h2>
        <p>Choisissez une randonnée et réservez votre place dès maintenant pour vivre une expérience inoubliable en pleine nature.</p>
        <button mat-raised-button color="primary" (click)="handleReservation()">Réserver une randonnée</button>
      </div>
      
      <!-- Section Témoignages d'utilisateurs -->
      <div class="testimonials-section mat-elevation-z2">
        <h2>Ce que disent nos utilisateurs</h2>
        <div class="testimonial" *ngFor="let testimonial of testimonials">
          <p>"{{ testimonial.content }}"</p>
          <p><strong>- {{ testimonial.user }}</strong></p>
        </div>
      </div>

    </div>
  </div>
  