<div class="account-container">
    <h2>Bienvenue</h2>
    <p>Voici votre espace personnel.</p>
  
    <!-- Section des actions principales -->
    <div class="account-actions">
      <button class="action-button" (click)="goToMyRandos()">Mes Randonnées</button>
      <button class="action-button" (click)="goToMyReservations()">Mes Réservations</button>
      <button class="action-button" (click)="goToMyReviews()">Mes Avis</button>
      <button class="action-button" (click)="goToMyPhotos()">Mes Photos</button>
    </div>
  
    <!-- Section des informations supplémentaires -->
    <div class="account-info">
      <h3>Dernières activités</h3>
      <ul>
        <li *ngFor="let activity of recentActivities">{{ activity }}</li>
      </ul>
    </div>
  </div>
  