@primary-color: #4CAF50;
@secondary-color: #FF5722;
@input-border-color: #CCCCCC;
@input-focus-border-color: #FF5722;
@background-color: #f9f9f9;
@input-padding: 10px;
@border-radius: 5px;

.randos-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;

  input {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

/* Randos List */
.randos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.rando-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rando-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.rando-header {
  display: flex;
}

.rando-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.rando-details {
  flex: 1;
}

h3 {
  margin-top: 0;
  color: var(--secondary-color);
}

p {
  margin: 5px 0;
  color: var(--text-secondary);
}


.rando-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;

  button {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:first-of-type {
      background-color: @primary-color;
      color: white;

      &:hover {
        background-color: darken(@primary-color, 10%);
      }
    }

    &:last-of-type {
      background-color: @secondary-color;
      color: white;

      &:hover {
        background-color: darken(@secondary-color, 10%);
      }
    }
  }
}

.snackbar-success {
  background-color: #4caf50; /* Success: Green */
  color: white;
}

.snackbar-error {
  background-color: #f44336; /* Error: Red */
  color: white;
}


.add-avis {
  margin-top: 10px;

  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid @input-border-color;
    border-radius: @border-radius;
    resize: none;

    &:focus {
      border-color: @input-focus-border-color;
      outline: none;
    }
  }

  .rating {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;

    .star {
      font-size: 30px;
      color: #ccc;
      cursor: pointer;
      transition: color 0.2s ease;

      &.filled {
        color: @primary-color; /* Couleur pour les étoiles remplies */
      }

      &:hover {
        color: darken(@primary-color, 10%);
      }
    }
  }

  button {
    background-color: @primary-color;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: @border-radius;
    cursor: pointer;

    &:hover {
      background-color: darken(@primary-color, 10%);
    }
  }
}



