<div class="randos-container">
  <h1>Mes Randonnées</h1>

  <div class="search-bar">
    <input type="text" placeholder="Rechercher une randonnée..." [(ngModel)]="searchTerm" (input)="onSearch()">
  </div>

  <div class="randos-list">
    <div *ngFor="let rando of filteredRandos" class="rando-item mat-elevation-z2">
      <div class="rando-header">
        <img class="rando-image" [src]="'http://localhost:8000' + rando.image" alt="{{ rando.title }}">
        <div class="rando-details">
          <h3>{{ rando.title }}</h3>
          <p><strong>Lieu:</strong> {{ rando.location }}</p>
          <p><strong>Distance:</strong> {{ rando.distance }} km</p>
          <p><strong>Durée:</strong> {{ rando.duration }}</p>
          <p><strong>Difficulté:</strong> {{ rando.difficulty }}</p>
        </div>
      </div>
      <p class="rando-description">{{ rando.description }}</p>

      <div class="rando-actions">
        <button (click)="triggerFileInput(rando.id)">Ajouter Photo</button>
        <input type="file" #fileInput (change)="uploadPhoto($event, rando.id)" style="display: none;">
        
        <!-- Button to show reviews -->
        <button (click)="toggleAvis(rando.id)">Ajouter Avis ({{ avisCount[rando.id] || 0 }})</button>


      
    </div>
    <!-- Section to add a new review -->
    <div *ngIf="showReviewForm[rando.id]" class="add-avis">
      <h4>Ajouter un avis</h4>
    
      <!-- Stars Rating -->
      <div class="rating">
        <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" 
              (click)="setRating(rando.id, star)" 
              class="star"
              [class.filled]="star <= avisForm[rando.id].note">
          &#9733; <!-- This is the HTML entity for a filled star -->
        </span>
      </div>
    
      <textarea [(ngModel)]="avisForm[rando.id].commentaire" placeholder="Votre commentaire"></textarea>
      <button (click)="addAvis(rando.id)">Ajouter</button>
    </div>
  </div>

  <div *ngIf="filteredRandos.length === 0" class="no-randos">
    <p>Aucune randonnée disponible.</p>
  </div>
</div>
