<div class="reservation-container">
    <h1>Réserver une randonnée</h1>
    <p>Choisissez parmi les randonnées disponibles et réservez votre place.</p>
    
    <div class="randos-list">
      <div *ngFor="let rando of randos" class="rando-item mat-elevation-z2">
        <div class="rando-header">
          <img class="rando-image" [src]="'http://localhost:8000' + rando.image" alt="{{ rando.title }}">
          <div class="rando-details">
            <h3>{{ rando.title }}</h3>
            <p><strong>Lieu:</strong> {{ rando.location }}</p>
            <p><strong>Distance:</strong> {{ rando.distance }} km</p>
            <p><strong>Durée:</strong> {{ rando.duration }}</p>
            <p><strong>Difficulté:</strong> {{ rando.difficulty }}</p>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="reserveRando(rando)" class="btn-reserver">Réserver</button>
      </div>
    </div>
  </div>
  