.admin-avis-container {
  padding: 20px;
  h1 {
    margin-bottom: 20px;
  }

  .avis-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
    .actions {
      margin-top: 10px;
      button {
        margin-right: 10px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:first-of-type {
          background-color: #4CAF50;
          color: white;

          &:hover {
            background-color: #45a049;
          }
        }

        &:last-of-type {
          background-color: #f44336;
          color: white;

          &:hover {
            background-color: #e53935;
          }
        }
      }
    }
  }
}
