.user-content {
  padding: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail {
  padding: 10px;
  background-color: var(--thirdly-color);
  border-radius: 8px;
  color: #FFFFFF;
}
