<!-- src/app/user-profile/user-profile.component.html -->
<div class="profile-container">
    <h2>Mon Profil</h2>
    <form (ngSubmit)="updateUserProfile()">
      <label>
        Nom d'utilisateur:
        <input [(ngModel)]="user.username" name="username" />
      </label>
  
      <label>
        Email:
        <input [(ngModel)]="user.email" name="email" />
      </label>
  
      <label>
        Nouveau mot de passe:
        <input [(ngModel)]="user.newPassword" type="password" name="newPassword" />
      </label>
  
      <button type="submit">Mettre à jour</button>
    </form>
  </div>
  