<!-- src/app/register/register.component.html -->
<div class="register-container">
    <mat-card class="register-card mat-elevation-z2">
        <mat-card-header>
            <mat-card-title>
                Inscrivez-vous gratuitement à Randinou Adventures pour pouvoir explorer et partager vos idées de randonnées.
            </mat-card-title>
            <mat-card-subtitle>Rejoignez notre communauté d'aventuriers en remplissant le formulaire ci-dessous</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input matInput placeholder="Entrez votre nom d'utilisateur" required [(ngModel)]="user.username" name="username">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Adresse e-mail</mat-label>
                    <input matInput type="email" placeholder="Entrez votre email" required [(ngModel)]="user.email" name="email">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" placeholder="Entrez votre mot de passe" required [(ngModel)]="user.password" name="password">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirmez le mot de passe</mat-label>
                    <input matInput type="password" placeholder="Confirmez votre mot de passe" required [(ngModel)]="user.confirmPassword" name="confirmPassword">
                </mat-form-field>

                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>

                <button mat-raised-button color="primary" type="submit">S'inscrire</button>
            </form>

            <p class="signin-prompt">
                Vous avez déjà un compte ? <a [routerLink]="['/login']">Connectez-vous ici</a>.
            </p>
            <p class="signin-prompt"> Ou s'inscrire avec :</p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button class="social-button google" type="button">
                <img src="assets/icons/google.png" alt="Google logo" class="social-icon">
                S'inscrire avec Google
            </button>
            <button mat-raised-button class="social-button apple" type="button">
                <img src="assets/icons/apple.png" alt="Apple logo" class="social-icon">
                S'inscrire avec Apple
            </button>
            <button mat-raised-button class="social-button facebook" type="button">
                <img src="assets/icons/facebook.png" alt="Facebook logo" class="social-icon">
                S'inscrire avec Facebook
            </button>
        </mat-card-actions>
    </mat-card>
</div>
