<div class="manage-randos">
  <h2>Gestion des Randonnées</h2>

  <!-- Button to navigate to Add Rando form -->
  <button class="add-rando-button" (click)="navigateToAddRando()">Ajouter une Randonnée</button>

  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Localisation</th>
        <th>Distance</th>
        <th>Durée</th>
        <th>Difficulté</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rando of randos">
        <td>{{ rando.title }}</td>
        <td>{{ rando.description }}</td>
        <td>{{ rando.location }}</td>
        <td>{{ rando.distance }} km</td>
        <td>{{ rando.duration }}</td>
        <td>{{ rando.difficulty }}</td>
        <td>
          <button (click)="deleteRando(rando.id)">Supprimer</button>
          <button (click)="editRando(rando)">Modifier</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
